<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [ ]:
# Exercise 2 prompt: Create a markdown cell with the title Data Science Tools and Ecosystem using Hl style heading.

# Data Science Tools and Ecosystem

In [ ]:
# Exercise 3 prompt: Write an introductory sentence about the notebook such as the follows: In this notebook, Data Science Tools and Ecosystem are summarized.

# In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# @title
# Exercise 4 prompt: Start the cell with an overview line such as:
# Some of the popular languages that Data Scientists use are:
# Exercise 4 prompt: Start the cell with an overview line such as:
# Some of the popular languages that Data Scientists use are:
# Then create an ordered list (i.e. numbered) listing 3 ( or more) commonly used languages for data science.

Some of the popular languages that Data Scientists use are:
1.  Python
2.  R
3.  SQL
4.  Scala
5.  Java
6.  C++
7.  Julia
8.  JavaScript
9.  PHP
10. Go
11. Ruby
12. Visual Basic

SyntaxError: invalid syntax (<ipython-input-12-4bccbfe67853>, line 5)

In [ ]:
# Exercise 5 prompt: Create a markdown cell to list data science libraries.
# Start the cell with an overview line such as:
# Some of the commonly used libraries used by Data Scientists include:
```python
# Exercise 5 prompt: Create a markdown cell to list data science libraries.
# Start the cell with an overview line such as:
# Some of the commonly used libraries used by Data Scientists include:
# Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Keras
6. PyTorch
7. Matplotlib
8. Seaborn
9. ggplot2
10. caret
```

SyntaxError: invalid syntax (<ipython-input-14-01fcf52e7faf>, line 6)

In [ ]:
# Exercise 6 prompt: Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

| Data Science Tools |
| -------------|
| Jupyter Notebook |
| RStudio |
| Spyder |
| RStudio |
| Spyder |

SyntaxError: invalid syntax (<ipython-input-24-810d76b4c257>, line 3)

In [ ]:
# Exercise 7 prompt: Add a line in this cell with H3 style heading with text like:
# Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# Exercise 8 prompt: In this code cell evaluate the expression (3*4)+5.
# Insert a comment line before the expression to explain the operation e.g. This a simple arithmetic expression
# to mutiply then add integers.
# Then execute the cell to ensure the expression returns the expected output of 17.

# prompt: In this code cell evaluate the expression (3*4)+5.
# Insert a comment line before the expression to explain the operation e.g. This a simple arithmetic expression
# to mutiply then add integers.
# Then execute the cell to ensure the expression returns the expected output of 17.

# This is a simple arithmetic expression to multiply then add integers.
expression = (3 * 4) + 5
print(expression)

17

In [ ]:
# Exercise 9 prompt: In this code cell write an expression that converts 200 minutes into hours.
# Insert a comment line before the expression to explain the operation e.g. This will convert 200 minutes to
# hours by diving by 60.
# Run the cell to evaluate the expression.

# This will convert 200 minutes to hours by dividing by 60.
expression = 200 / 60
print(expression)

3.3333333333333335

In [ ]:
# Exercise 10 prompt: Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

# Insert a markdown cell to list Objectives.
Some of the popular languages that Data Scientists use are:


1.  Python
2.  R
3.  SQL
4.  Scala
5.  Java
6.  C++
7.  Julia
8.  JavaScript
9.  PHP
10. Go
11. Ruby
12. Visual Basic

 **Objectives:**

*   List popular languages for Data Science.
*   List commonly used libraries used by Data Scientists.
*   Identify development environment open source tools used in data science.
*   Provide examples of evaluating arithmetic expressions in Python.
*   Convert minutes to hours in Python.

SyntaxError: invalid syntax (<ipython-input-19-d4dbf7de6014>, line 6)

In [26]:
# Exercise 11 prompt: In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.

## Author
#Ryan Hughes